.form {
  background: $white;
  &__wrapper {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__row {
    display: flex;
    align-items: flex-end;
    &:first-child {
      margin-bottom: 20px;
    }
    &-title {
      margin-bottom: 10px;
      & span {
        color: $green;
      }
    }
  }
  &__block {
    flex: 1;
    margin-right: 20px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 5px;
    background: $grey;
    transition: 0.4s;
    border: 1px solid #e4e4e4;
    &:hover,
    &:focus,
    &:active {
      border-color: $green;
    }
    &::placeholder {
      opacity: 0.2;
    }
  }
  &__title {
    background: $grey;
    height: 136px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 40px;
  }
}
