.preview {
  position: relative;
  background-image: linear-gradient(180deg, #428a60 0%, #35734f 100%);
  z-index: 2;
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  @include tablets {
    flex-direction: row;
  }
  @include phone {
    overflow: visible;
    max-height: 232px;
    background: $white;
  }
  &__name {
    font-size: 18px;
    color: $white;
    font-weight: 800;
    @include phone {
      color: $black;
    }
    &:first-child {
      margin: 40px 40px 0;
      @include tablets {
        margin-top: 30px;
      }
      @include phone {
        margin: 20px 50px 0;
      }
    }
    &:last-child {
      margin: 0 40px 40px;
      @include tablets {
        margin-top: 30px;
      }
      @include phone {
        margin: 20px 60px 0;
      }
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
  }
  &::before {
    background: url('./img/circle-big.svg') no-repeat;
    background-position: top -20px left 200px;
    width: 688px;
    height: 688px;
    opacity: 0.03;
    @include phone {
      display: none;
    }
  }
  &:after {
    background: url('./img/circle-small.svg') no-repeat;
    width: 398px;
    height: 398px;
    top: 15%;
    left: 6%;
    background-size: contain;
    @include desktop {
      width: 300px;
      height: 300px;
      top: 33%;
    }
    @include phone {
      width: 202px;
      height: 202px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -32%);
    }
  }
  &__image {
    position: absolute;
    background: url('./img/pills.jpg') no-repeat;
    z-index: 1;
    background-size: contain;
    bottom: 9%;
    left: 11%;
    width: 424px;
    height: 231px;
    @include desktop {
      width: 280px;
      height: 180px;
    }
    @include phone {
      width: 223px;
      height: 122px;
      bottom: -6%;
      left: 20%;
    }
  }
}
